.container {
    position: relative;
    width: 25rem;
    height: 15rem;
    border: 3px solid white;
    margin: 0.5rem;
    box-shadow: 0 10px 10px rgb(0 0 0 / 4%);
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s all;
    background-color: #e6e6e6;
    border-radius: 30px;
    background: #d1d1d1;
    box-shadow:  20px 20px 60px #b2b2b2,
                -20px -20px 60px #f0f0f0;
}
.container img {
    position: absolute;
    bottom: 2rem;
    right: -5rem;
    height: 8rem;
    object-fit: cover;
    transform: rotate(90deg);
    z-index: 1;
    opacity: 50%;
}
/* Estios contenedor titulo */
.containerTitle {
    transition: 0.3s all;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    z-index: 100;
}
.container:hover .containerTitle {
    background-color: #456696;
    display: grid;
    place-items: center;
    height: 10rem;
}
.container:hover {
    transform: scale(0.9);
    z-index: 100;
    border: 5px solid #456696;
}
.container a {
    text-decoration: none;
}
.container p {
    color: gray;
}
.title {
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: rgb(53, 53, 53);
    transition: 0.3s all;
}
.container:hover .title {
    font-size: 2rem;
}

@media (max-width: 768px){
    .container {
        width: 100%;
    }
}